# macOS
.DS_Store

# Xcode — user-specific & build state
xcuserdata/
*.xcuserstate
*.xcuserdatad
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Build products
Products/
*.app

# Swift Package Manager
.build/
.swiftpm/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
